header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
  background-color: var(--color-bg-variant); /* Add a background color or image */
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  max-width: 1000px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 6rem; /* Add padding for better spacing */
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the CTA buttons */
  gap: 1.2rem;
  margin-top: 2.5rem;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 2rem;
  bottom: 1rem;
  color: var(--color-primary); /* Add color for social links */
}

.header__socials::after {
  content: '';
  width: 2px; /* Increase the width of the vertical line */
  height: 2rem;
  background: var(--color-primary);
}

.scroll__down {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 500; /* Increase font weight for better visibility */
  font-size: 1rem; /* Increase font size for better visibility */
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .scroll__down {
    display: none;
  }
}
