/* Courses Container */
.container.courses__container {
    width: 40%;
    padding-bottom: 4rem;
  }
  
  /* Client Avatar */
  .client__avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center; /* Use align-items instead of align-content */
  }
  
  .client__avatar a {
    font-size: 40px;
    aspect-ratio: 1/1;
  }
  
  /* Courses */
  .courses {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
  }
  
  /* Client Review */
  .client__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 90%;
    margin: 0.8rem auto 0;
  }
  
  /* Swiper Pagination */
  .swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
  }
  
  /* Media Queries */
  @media screen and (max-width: 1024px) {
    .container.courses__container {
      width: 60%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .container.courses__container {
      width: var(--container-width-sm);
      padding-bottom: 2rem; /* Adjust padding for better spacing on smaller screens */
    }
  
    .client__review {
      width: var(--container-width-sm);
    }
  }
  