/* About Section */
.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
  }
  
  .about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
  }
  
  .about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transition: var(--transition);
  }
  
  .about__me-image:hover {
    transform: scale(1.05); /* Slightly reduce the scale on hover for a more subtle effect */
  }
  
  .about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
  }
  
  .about__card:hover {
    background: var(--color-bg-variant); /* Change the background color on hover */
    border-color: var(--color-primary-variant); /* Add border color on hover */
    cursor: pointer; /* Change the cursor to indicate clickability */
  }
  
  .about__icon {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .about__card h5 {
    font-size: 1.2rem; /* Slightly increase font size for better readability */
    margin-bottom: 0.5rem; /* Adjust margin for better spacing */
  }
  
  .about__card small {
    font-size: 1rem; /* Adjust font size for better readability */
    color: var(--color-light);
  }
  
  .about__content p {
    margin: 2rem 0 2rem; /* Adjust margin for better spacing */
    color: var(--color-light);
  }
  
  /* Media Queries */
  @media screen and (max-width: 1024px) {
    .about__container {
      grid-template-columns: 1fr;
      gap: 0;
    }
  
    .about__me {
      width: 50%;
      margin: 2rem auto 3rem; /* Adjust the margin for better spacing */
    }
  
    .about__content p {
      margin: 1rem 0 1rem; /* Adjust the margin for better spacing */
    }
  }
  
  @media screen and (max-width: 600px) {
    .about__me {
      width: 65%;
      margin: 0rem auto 2rem; /* Adjust the margin for better spacing */
    }
  
    .about__cards {
      grid-template-columns: 1fr; /* Adjust to a single column layout for smaller screens */
      gap: 1rem;
    }
  
    .about__content {
      text-align: center;
    }
  
    .about__content p {
      margin: 1.5rem 0; /* Adjust the margin for better spacing */
    }
  }
  